{% trans_default_domain 'FOSUserBundle' %}

<h1 class="page-header">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}
    <div class="form-group">
        {{ form_label(form.email) }}
        {% for error in form.email.vars.errors %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">{{ error.message }}</li>
            </ul>
        {% endfor %}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.username) }}
        {% for error in form.username.vars.errors %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">{{ error.message }}</li>
            </ul>
        {% endfor %}
        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {% for error in form.plainPassword.first.vars.errors %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">{{ error.message }}</li>
            </ul>
        {% endfor %}
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'} }) }}
    </div>
    <button type="submit" class="btn btn-default">{{ 'registration.submit'|trans }}</button>
{{ form_end(form) }}